<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .IsHome }}
      <title>{{ .Site.Title }}</title>
    {{ else }}
      <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}
    {{ with resources.Match "css/*.css" | resources.Concat "style.css" | minify | fingerprint }}
      <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}">
    {{ end }}
    <link rel="shortcut icon" href="favicon.ico" />
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
